fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
python-multipart
python-jose[cryptography]
passlib[bcrypt]
langchain
langchain-openai
pydantic
pydantic-settings
pytest
httpx
google-auth
requests
email-validator
numpy
langchain-google-genai
locust
python-dotenv
